/* You can add global styles to this file, and also import other style files */
/* Ensure the body occupies the full viewport and centers content */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    font-family: 'Arial', sans-serif;
  }
  
  /* Ensure Angular's app-root also stretches to full height */
  app-root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  